<div class="employee content">
  <h1 class="employee__title">
    Dane {{ employee?.manager ? 'pracownika' : 'managera' }}
  </h1>
  @if (employee) {
    <div class="employee__section">
      <label class="employee__section-label" for="name">Imię</label>
      <p class="employee__section-input" id="name" placeholder="Imię">
        {{ employee.name }}
      </p>
    </div>

    <div class="employee__section">
      <label class="employee__section-label" for="surname">Nazwisko</label>
      <p class="employee__section-input" id="surname" placeholder="Nazwisko">
        {{ employee.surname }}
      </p>
    </div>

    <div class="employee__section">
      <label class="employee__section-label" for="dateOfEmployment">
        Data zatrudnienia
      </label>
      <p
        class="employee__section-input"
        id="dateOfEmployment"
        name="dateOfEmployment"
        type="date">
        {{ employee.dateOfEmployment | date: 'dd.MM.yyyy' }}
      </p>
    </div>

    @if (employee.manager) {
      <div class="employee__section">
        <label class="employee__section-label" for="manager">Menedżer</label>
        <p id="manager">
          {{ employee.manager?.name + ' ' + employee.manager?.surname }}
        </p>
      </div>
    }

    <div class="employee__section">
      <label class="employee__section-label" for="skills">Umiejętności</label>
      <div class="employee__skills-section" id="skills">
        @for (skill of employee.skills; track $index) {
          <p class="employee__skill">{{ skill }}</p>
        }
      </div>
    </div>

    <div class="employee__section">
      <label class="employee__section-label" for="projects">Projekty</label>
      <div id="projects" class="employee__projects">
        @for (project of employee.projects; track $index) {
          <app-employee-project [project]="project"></app-employee-project>
        }
      </div>
    </div>

    <button (click)="onEditClicked()">Edytuj dane pracownika</button>
  }
</div>
