$top-padding: 1.5rem;
$row-gap: 1rem;
$projects-gap: 0.5rem;

.employee-card {

  &__content {
    padding-top: $top-padding;
  }

  &__label {
    font-weight: bold;
  }

  &__skills-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding-bottom: $row-gap;
  }

  &__projects {
    padding-top: $projects-gap;
    display: flex;
    flex-direction: column;
    row-gap: $projects-gap;
  }
}
