<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="employee content">
    <h1 class="employee__title">{{ 'employee.form.add.title' | translate }}</h1>
    <div class="employee__section">
      <label class="employee__section-label" for="name">
        {{ 'employee.label.name' | translate }}
      </label>
      <input
        class="employee__section-input"
        id="name"
        [placeholder]="'employee.label.name' | translate"
        formControlName="name" />
      @if (isModifiedAndInvalid(nameControl) && isMissing(nameControl)) {
        <span class="employee__error-message">
          {{ 'employee.form.validation.name.required' | translate }}
        </span>
      }
    </div>

    <div class="employee__section">
      <label class="employee__section-label" for="surname">
        {{ 'employee.label.surname' | translate }}
      </label>
      <input
        class="employee__section-input"
        id="surname"
        [placeholder]="'employee.label.surname' | translate"
        formControlName="surname" />
      @if (isModifiedAndInvalid(surnameControl) && isMissing(surnameControl)) {
        <span class="employee__error-message">
          {{ 'employee.form.validation.surname.required' | translate }}
        </span>
      }
    </div>

    <div class="employee__section">
      <label class="employee__section-label" for="dateOfEmployment">
        {{ 'employee.label.dateOfEmployment' | translate }}
      </label>
      <input
        class="employee__section-input"
        id="dateOfEmployment"
        name="dateOfEmployment"
        type="date"
        formControlName="dateOfEmployment" />
      @if (
        isModifiedAndInvalid(dateOfEmploymentControl) &&
        isMissing(dateOfEmploymentControl)
      ) {
        <span class="employee__error-message">
          {{ 'employee.form.validation.dateOfEmployment.required' | translate }}
        </span>
      }
    </div>

    <div class="employee__section">
      <label class="employee__section-label" for="manager">
        {{ 'employee.label.manager' | translate }}
      </label>
      <select id="manager" formControlName="manager">
        @for (manager of managers$ | async; track manager.id) {
          <option [ngValue]="manager">
            {{ manager.name + ' ' + manager.surname }}
          </option>
        }
      </select>
    </div>

    <div class="employee__section">
      <label class="employee__section-label" for="skills">
        {{ 'employee.label.skills' | translate }}
      </label>
      <div class="employee__skills-section" id="skills">
        @for (skill of skillsControl.controls; track $index) {
          <button
            type="button"
            (click)="deleteSkill($index)"
            class="employee__skill">
            {{ skill.value | skillToTranslationKey | translate }}
          </button>
        }
        <select
          class="employee__skill employee__skill--empty"
          [title]="'employee.form.add.skill.help' | translate"
          formArrayName="skills"
          (change)="onSkillSelect($event)">
          <option>
            {{ 'employee.form.add.skill.defaultSelectOption' | translate }}
          </option>
          @for (skill of getAvailableSkillWrapper(); track skill.skillKey) {
            <option [value]="skill.skillKey">
              {{ skill.skillValue }}
            </option>
          }
        </select>
      </div>
    </div>

    <div class="employee__section">
      <label class="employee__section-label" for="projects">
        {{ 'employee.label.projects' | translate }}
      </label>
      <select (change)="onProjectSelect($event)">
        <option></option>
        @for (project of getAvailableProjectsWrapper(); track project) {
          <option [ngValue]="project.title">
            {{ project.title }}
          </option>
        }
      </select>
      <div id="projects" class="employee__projects">
        @for (project of projectsControl.controls; track project) {
          <app-employee-project
            [project]="project.value"
            (click)="deleteProject($index)"></app-employee-project>
        }
      </div>
    </div>

    <div class="employee__button-section">
      <button
        type="submit"
        class="employee__button-primary"
        [disabled]="form.invalid">
        {{ 'employee.form.add.button.add' | translate }}
      </button>

      <button
        class="employee__button-secondary"
        type="button"
        (click)="onCancel()">
        {{ 'employee.form.add.button.cancel' | translate }}
      </button>
    </div>

    <div class="employee__button-section">
      <button type="button" (click)="onClear()">
        {{ 'employee.form.add.button.clear' | translate }}
      </button>
    </div>
  </div>
</form>
