$button-border-radius: 7px;

$column-gap: 3rem;
$button-height: 2rem;
$list-padding: 0.5rem;
$button-flex-gap: 1rem;
$button-bg-color: azure;
$title-size: 2rem;

.employees-list {
  display: flex;
  flex-direction: row;
  column-gap: $column-gap;

  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: $button-flex-gap;
    min-height: $button-height;
    background-color: $button-bg-color;
    border-radius: $button-border-radius;

    &--hover:hover {
      transform: translateX(1rem);
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
    }

    &--selected {
      transform: translateX(1rem);
    }
  }

  &__element {
    padding: $list-padding;
  }

  &__title {
    font-size: $title-size;
  }
}

.employee-overview {
  border-left: black 1px dashed;
  padding-left: $column-gap;
}
