<div class="employees-list content">
  <div>
    <h1 class="employees-list__title">Lista pracowników</h1>

    <ul>
      @for (employee of employees; track employee.id) {
        <li class="employees-list__element">
          <button
            class="employees-list__button employees-list__button--hover content"
            [class.employees-list__button--selected]="
              employee === selectedEmployee
            "
            (click)="onEmployeeSelect(employee)"
          >
            <span>{{ $index + 1 }}.</span>
            <span> {{ employee.name + " " + employee.surname }}</span>
          </button>
        </li>
      }
    </ul>
  </div>

  @if (selectedEmployee) {
    <div class="employee-overview">
      <app-employee [employee]="selectedEmployee"></app-employee>
    </div>
  }
</div>
