<form (ngSubmit)="onSubmit()" [formGroup]="employeeForm">
  <div class="employee content">
    <h1 class="employee__title">Dane pracownika</h1>
    @if (employee) {
      <div class="employee__section">
        <label class="employee__section-label" for="name">Imię</label>
        <input
          class="employee__section-input"
          id="name"
          placeholder="Imię"
          formControlName="name" />
        @if (isMissing(name)) {
          <span class="employee__error-message">Imię jest wymagane</span>
        }
      </div>

      <div class="employee__section">
        <label class="employee__section-label" for="surname">Nazwisko</label>
        <input
          class="employee__section-input"
          id="surname"
          placeholder="Nazwisko"
          formControlName="surname" />
        @if (isMissing(surname)) {
          <span class="employee__error-message">Nazwisko jest wymagane</span>
        }
      </div>

      <div class="employee__section">
        <label class="employee__section-label" for="dateOfEmployment">
          Data zatrudnienia
        </label>
        <input
          class="employee__section-input"
          id="dateOfEmployment"
          name="dateOfEmployment"
          type="date"
          formControlName="dateOfEmployment" />
        @if (isMissing(dateOfEmployment)) {
          <span class="employee__error-message">
            Data zatrudnienia jest wymagana
          </span>
        }
      </div>

      <div class="employee__section">
        <label class="employee__section-label" for="manager">Menedżer</label>
        <select id="manager" formControlName="manager">
          @for (manager of managers; track manager.id) {
            <option [ngValue]="manager">
              {{ manager.name + ' ' + manager.surname }}
            </option>
          }
        </select>
      </div>

      <div class="employee__section">
        <label class="employee__section-label" for="skills">Umiejętności</label>
        <div class="employee__skills-section" id="skills">
          @for (skill of skills.controls; track $index) {
            <button
              type="button"
              (click)="deleteSkill($index)"
              class="employee__skill">
              {{ skill.value }}
            </button>
          }
          <select
            class="employee__skill employee__skill--empty"
            title="Dodaj nową umiejętność"
            formArrayName="skills"
            (change)="onSkillSelect($event)">
            <option>Dodaj</option>
            @for (
              skill of getAvailableSkills(skills.getRawValue());
              track skill
            ) {
              <option [ngValue]="skill">
                {{ skill }}
              </option>
            }
          </select>
        </div>
      </div>

      <div class="employee__section">
        <label class="employee__section-label" for="projects">Projekty</label>
        <select (change)="onProjectSelect($event)">
          <option></option>
          @for (
            project of getAvailableProjects(projects.getRawValue());
            track project
          ) {
            <option [ngValue]="project.title">
              {{ project.title }}
            </option>
          }
        </select>
        <div id="projects" class="employee__projects">
          @for (project of projects.controls; track project) {
            <app-employee-project
              [project]="project.value"
              (click)="deleteProject($index)"></app-employee-project>
          }
        </div>
      </div>

      <div class="employee__button-section">
        <button
          type="submit"
          class="employee__button-primary"
          [disabled]="employeeForm.invalid">
          Zatwierdź zmiany
        </button>

        <button
          class="employee__button-secondary"
          type="button"
          (click)="onCancelClicked()">
          Anuluj
        </button>
      </div>
    }
  </div>
</form>
