<div class="employee-container">
  <div>
    <h5 class="employee-container__title">
      {{ 'employee.list.title' | translate }}
    </h5>

    <div class="employee-container__list">
      <button
        mat-flat-button
        (click)="onAddEmployeeSelected()"
        [class.employee-container__button--selected]="
          selectedMode === Mode.ADD
        ">
        {{ 'employee.list.button.add' | translate }}
      </button>

      <mat-divider></mat-divider>

      @for (employee of employees$ | async; track employee.id) {
        <button
          mat-stroked-button
          (click)="onEmployeeSelect(employee)"
          [class.employee-container__button--selected]="
            employee === selectedEmployee &&
            (selectedMode === Mode.VIEW || selectedMode === Mode.EDIT)
          ">
          {{ employee.name + ' ' + employee.surname }}
        </button>
      }
    </div>
  </div>

  @switch (selectedMode) {
    @case (Mode.VIEW) {
      <div class="employee-container__overview">
        <app-employee-details
          [employee]="selectedEmployee"
          (editEmployeeSelected)="
            onEditEmployeeSelected()
          "></app-employee-details>
      </div>
    }
    @case (Mode.EDIT) {
      <div>
        <app-employee-form
          [employee]="selectedEmployee"
          (editCanceled)="onEditCanceled()"
          (formSubmitted)="onEditFormSubmitted($event)"></app-employee-form>
      </div>
    }
    @case (Mode.ADD) {
      <div>
        <app-employee-form
          (formSubmitted)="onAddEmployeeSubmitted($event)"
          (editCanceled)="onAddEmployeeCanceled()"></app-employee-form>
      </div>
    }
    @default {}
  }
</div>
