@import "colors";
@import "screen-sizes";

$padding: 2rem;
$row-gap: 2rem;
$border-radius: 0.5rem;
$search-bar-max-width: 30rem;

.dashboard {
  padding: $padding;
  display: flex;
  flex-direction: column;
  row-gap: $row-gap;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &-element {
      padding: $padding;
      border-radius: $border-radius;

      &--hover:hover {
        background-color: $bg-on-hover;
      }
    }
  }

  @media only screen and (max-width: $small-screen) {
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__search {
    max-width: $search-bar-max-width;
  }
}

