<div class="dashboard">
  <h5>{{ 'employee.dashboard.title' | translate }}</h5>
  <div class="dashboard__grid">
    @for (employee of employees; track $index) {
      <div
        matRipple
        class="dashboard__grid-element"
        [routerLink]="['/', EMPLOYEE_ROUTE.LIST, employee.id]">
        <p>{{ employee.name + ' ' + employee.surname }}</p>
        <p>{{ employee.dateOfEmployment | date }}</p>
      </div>
    }
  </div>

  <button mat-raised-button [routerLink]="['/', EMPLOYEE_ROUTE.LIST]">
    {{ 'employee.dashboard.button.list' | translate }}
  </button>
</div>
