$padding: 0.5rem;
$title-size: 1.6rem;
$content-size: 1.4rem;
$column-gap: 1rem;
$border-radius: 5px;

.project {
  border: black 1px solid;
  padding: $padding;

  &__title {
    font-size: $title-size;
    font-weight: bold;
  }

  &__description {
    font-size: $content-size;
  }

  &__technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: $column-gap;
  }

  &__technology {
    font-size: $content-size;
    margin: 0;
    border-radius: $border-radius;
    border: black 1px solid;
    padding: 0 $padding 0 $padding;
  }

}
