$column-gap: 1rem;
$padding: 0.5rem;
$technology-font-size: 1.4rem;
$border-radius: 5px;


.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: $column-gap;

  &__technology {
    font-size: $technology-font-size;
    margin: 0;
    border-radius: $border-radius;
    border: black 1px solid;
    padding: 0 $padding 0 $padding;
  }
}
